@page "/ingame"
<!-- Dont know we nee to think about a link name for this site -->

<div class="d-flex flex-column float-right" style="height: 100%">
    <div class="box-map align-self-start">
        <div class="p-5">
            <!-- Minimap here -->
        </div>
    </div>
    
    <div class="box-map align-self-end">
        <div class="box-content">
            <div class="text-center left-side"><b>Chat</b></div>
            <!-- <div class="text-center right-side"><b>Players</b></div> -->
            <hr>
        </div>
    </div>
</div>