@page "/lobbies" 
<!-- Maybe another tag for the lobbies site?? Open for possible solutions -->

<!-- Temporary Logo with png for layout purposes. Needs to be dynamic later on! -->
<div>
  <div class="row">
        <div class="col-1 align-self-center">
          <button class="btn btn-primary" onclick="location.href ='/';">Back</button>
        </div>
        <div class="col-11 justify-content-center">
          <img class="align-self-center" src="/Media/Images/logo.png" alt="Logo" height="300" width="600"/>
        </div>
  </div>
</div>

