@page "/player/"
@using TicTacTorus.Source.Hubs
@inject NavigationManager NavigationManager

<div>
    <!-- Game goes here -->
</div>
    
<div class="h-100">
    <div class="nav-container">
        <div class="box box-map">
            <div class="p-5">
                <!-- Minimap goes here -->
                Minimap Content
            </div>
        </div>
        
        <div class=" box box-map">
            <div class="box-game">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="@_navOne" @onclick="NavClick">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="@_navTwo" @onclick="NavClick">Players</a>
                    </li>
                </ul>
                <div class="tab-content p-1">
                    <div role="tabpanel" class="@_navContentOne" id="chat-content">
                        Chat Content
                    </div>
                    <div role="tabpanel" class="@_navContentTwo" id="player-content">
                        Player Content
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-map justify-content-center">
            <button class="mx-1 my-1">
                <svg class="bi bi-skip-backward" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 011 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 01-1 0V4a.5.5 0 01.5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z" clip-rule="evenodd"/>
                </svg>
            </button>
            <button class="mx-1 my-1">
                <svg class="bi bi-skip-start" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.5 3.5A.5.5 0 004 4v8a.5.5 0 001 0V4a.5.5 0 00-.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M5.696 8L11.5 4.633v6.734L5.696 8zm-.792-.696a.802.802 0 000 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696L4.904 7.304z" clip-rule="evenodd"/>
                </svg>
            </button>
            <button class="mx-1 my-1">
                <svg class="bi bi-play" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" clip-rule="evenodd"/>
                </svg>
            </button>
            <button class="mx-1 my-1">
                <svg class="bi bi-skip-end" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 3.5a.5.5 0 01.5.5v8a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" clip-rule="evenodd"/>
                </svg>
            </button>
            <button class="mx-1 my-1">
                <svg class="bi bi-skip-forward" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 01.5.5v8a.5.5 0 01-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 01.5-.5zM1 4.633v6.734L6.804 8 1 4.633zm7.5 0v6.734L14.304 8 8.5 4.633z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>
</div>



@functions
{
    private ConnectionHubClient _client;
    
    private string _navContentOne = "tab-pane active";
    private string _navContentTwo = "tab-pane";
    private string _navOne = "nav-link active";
    private string _navTwo = "nav-link";
    private bool _navClicked;
}

@functions
{
    protected override void OnInitialized()
    {
        _client = new ConnectionHubClient(NavigationManager);
    }

    private void NavClick()
    {
    //I know can be simplified, but I'm lazy (Sorry ^^)
        _navClicked = !_navClicked;
        if (_navClicked)
        {
    //Player Tab is now Active
            _navContentTwo = _navContentOne;
            _navContentOne = _navContentOne.Substring(0, _navContentOne.IndexOf(" ", StringComparison.Ordinal));
            _navTwo = _navOne;
            _navOne = _navOne.Substring(0, _navOne.IndexOf(" ", StringComparison.Ordinal));
        }
        else
        {
    //Chat Tab is now Active
            _navContentOne = _navContentTwo;
            _navContentTwo = _navContentTwo.Substring(0, _navContentTwo.IndexOf(" ", StringComparison.Ordinal));
            _navOne = _navTwo;
            _navTwo = _navTwo.Substring(0, _navTwo.IndexOf(" ", StringComparison.Ordinal));
        }
    }
}
