@page "/reset"
@using TicTacTorus.Source.LoginContent.Validation
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Connections


<div class="min-vw-100">
    <div class="my-5 lobbies-grid">
        <button class="btn-back" onclick="location.href ='/';">
            <svg class="bi bi-arrow-left" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
        </button>
        <h1 class="headers">TicTacTorus</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto my-1">
        <!-- Players Box -->
        <div class="box box-info w-100">
            <div class="box-content">
                <b><h3 class="text-center">Password Reset</h3></b>
                <div>
                    <div class="text-center">Password for user <b id="username"></b> gets changed</div>
                    <div class="container">
                        <EditForm Model="@_validation" OnInvalidSubmit="CheckForm">
                            <div class="form-group">
                                <label class="password_reset" for="psw">Password</label>
                                <input @bind-value="_validation.Password" type="password" id="psw" name="psw" title="Enter new password" placeholder="Enter new password" required>
                            </div>
                            <div class="form-group">
                                <label class="password_reset" for="psw">Confirm Password</label>
                                <input @bind-value="_validation.PasswordConfirm" type="password" id="conf-psw" name="conf-psw" title="Enter password again" placeholder="Enter new password again" required>
                            </div>
                            <label class="text-center collapse" id="wrong_conf-psw">
                                Passwords don't match!
                            </label>
                            <button class="btn btn-primary-custom" type="submit">Submit</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    private readonly UserValidation _validation = new UserValidation();
}

@functions
{
    private void CheckForm()
    {
        //TODO: Validate at Server (just in case) the password
    }
}
