@page "/user/{userid}"

@using System.Diagnostics
@using Microsoft.AspNetCore.SignalR.Client
@using TicTacTorus.Source.Hubs
@using TicTacTorus.Source.PlayerSpecificContent
@using TicTacTorus.Source.Persistence
@using System.Drawing
@inject NavigationManager NavigationManager

<!-- if user exists show page else error message -->

<div class="my-5 lobbies-grid">
    <button class="btn-back" onclick="location.href ='/';">
        <svg class="bi bi-arrow-left" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
        </svg>
    </button>
    <h1 class="headers">TicTacTorus</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mx-auto m-2">
            <div class="box w-100">
                <div class="profile-pic text-center">
                    <!-- if logged in player == userid -->
                    <input type="file" id="profile-pic" @bind="_pic" name="profile-pic">
                    // 
                    <img src=_pic title="Change profile picture" alt="profile picture"/>
                </div>
                <div class="text-center mx-4">
                    <div class="my-3">
                        <b>
                            <h1>@userid</h1></b>
                    </div>
                    <div><b>In-Game Name</b></div>
                    <!-- if logged in player == userid inputs enabled else disabled ### -->
                    <input type="text" placeholder="HankMcAwesome"/>
                    <div class="mt-2"><b>Password</b></div>
                    <input type="password" placeholder="**********"/>
                    <div class="mt-2"><b>E-Mail</b></div>
                    <input type="email" placeholder="hank@awesome.de"/>
                    <hr class="mx-2">
                    <div class="box-only mt-2 p-1" @onclick="ChangeSymbol">
                        <img src="/Media/Images/circle.png" title="Change profile picture" alt="profile picture"/>
                    </div>
                    <div class="text-center my-3">
                        <b>Symbol Color</b>
                        <input type="color" @bind="_color"/>
                    <!-- ### -->
                    </div>
                </div>
                <button class="btn btn-end-custom">Replay List</button>
            </div>
        </div>
                
        <div class="col-sm-8 col-md-7 col-lg-8 mx-auto m-2">
            <div class="box p-2">
                <div class="text-center mx-4">
                    <h3 class="text-center mt-1"><b>Statistics</b></h3>
                    <hr>
                    <div class="row">
                        <div class="col box-only p-2 m-1">
                            <h5 class="text-center mt-2">Games played</h5>
                            <hr>
                            <h5><b>173</b></h5>
                        </div>
                        <div class="col box-only p-2 m-1">
                            <h5 class="text-center mt-2">Wins</h5>
                            <hr>
                            <h5><b>40</b></h5>
                        </div>
                        <div class="col box-only p-2 m-1">
                            <h5 class="text-center mt-2">Symbols placed</h5>
                            <hr>
                            <h5><b>1024</b></h5>
                        </div>
                        <div class="col box-only p-2 m-1">
                            <h5 class="text-center mt-2">4x Streaks</h5>
                            <hr>
                            <h5><b>23</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code
{
    [Parameter] 
    public string userid { get; set; }
    
    private ConnectionHubClient _client;
    private static string _pic;
    private Color _color;
}

@functions
{
    protected override void OnInitialized()
    {
        _client = new ConnectionHubClient(NavigationManager);
        
        /*
         * Method receives a new Player Object with the changed values and updates the site
         */
        //TODO: Email change can not be made with the IPlayer Interface! Maybe other Method?
        _client.Connection.On<IPlayer>("ChangeUserInfo", (user) =>
        {
            
        });
    }

    //Picture Click
    private static void ChangePicture()
    {
        // TODO Send message to server, add/update picture to database
       
    }

    private static void ChangeSymbol()
    {
        // TODO Send message to server, add/update symbol to database
    }

    private static void ChangeColor()
    {
        // TODO
    }

    private static void ChangePlayerName()
    {
        // TODO
    }
    
    
}