@inherits Microsoft.AspNetCore.Components.LayoutComponentBase


<!-- Our main Site that includes all other pages -->
<div class="main">
    
    <!-- .razor pages (in folder PAGES) are included here with the "AT Body" tag below -->
    <div class="content">
        @Body
    </div>
</div>