.btn-primary-custom {
    min-width: 100%;
    color: #262626;
    background-color: #00b16f;
    border-color: #00945d;
}

.btn-primary-custom:hover, .btn-primary-custom:focus, 
.btn-primary-custom:active, .btn-primary-custom.active,
.open>.dropdown-toggle.btn-primary-custom {
    color: #fff;
    background-color: #00945d;
    border-color: #007047; 
}

.btn-end-custom {
    min-width: 100%;
    color: #262626;
    background-color: #00b16f;
    border-color: #00945d;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-end-custom:hover, .btn-end-custom:focus,
.btn-end-custom:active, .btn-end-custom.active,
.open>.dropdown-toggle.btn-end-custom {
    color: #fff;
    background-color: #00945d;
    border-color: #007047;
}

.btn-secondary-custom {
    color: #262626;
    background-color: #e65727;
    border-color: #cc4d23;
}

.btn-secondary-custom:hover, .btn-secondary-custom:focus,
.btn-secondary-custom:active, .btn-secondary-custom.active,
.open>.dropdown-toggle.btn-secondary-custom {
    color: #fff;
    background-color: #cc4d23;
    border-color: #b3431e;
}

.btn-third-custom {
    color: #262626;
    background-color: #c4c4c4;
    border-color: #ababab;
}

.btn-third-custom:hover, .btn-third-custom:focus,
.btn-third-custom:active, .btn-third-custom.active,
.open>.dropdown-toggle.btn-third-custom {
    color: #fff;
    background-color: #ababab;
    border-color: #919191;
}

.btn-back {
    margin: auto;
    background: #f5f5f5;
    color: #262626;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    transition: .4s;
}

.btn-back:hover, .btn-back:focus,
.btn-back:active, .btn-back.active,
.open>.dropdown-toggle.btn-back {
    float: left;
    background: #d9d9d9;
    color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px rgba(33,33,33,.2);
}

.bi-arrow-left{
    font-size: 100%;
}

.box {
    display: inline-block;
    transition: box-shadow .3s;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
}

.box-lobby {
    max-height: 500px;
}
.box-lobby {
    
}

.changelog-column{
    width: 50%;
}
.box:hover, .box-map:hover, .box-login:hover, .box-lobby:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.box-map {
    margin: 5px;
}

.box-login {
    padding: 10px;
    flex-wrap: wrap;
    transition: box-shadow .3s;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
}

.box-content {
    flex-wrap: nowrap;
    padding: 15px;
}

.box-game {
    flex-wrap: nowrap;
    padding: 0;
}

.headers {
    text-align: center;
    font-size: 550%;
    font-weight: bold;
}

th, td {
    padding: 12px 5px 12px 5px;
    text-align: left;
}

tr + td {
    padding-left: 25px;
}

.playerCount, .status {
    text-align: center;
}

#lobbies {
    color: #fff;
    width: 100%;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

#lobbyRow:hover {
    color: #000;
}

.lobbies-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.custom-container {
    display: inline-block;
    min-width: 380px;
    margin: 5px;
}

.below-chat {
    min-width: 100%;
    display: inline-block;
}

.nav-container {
    max-width: 300px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    float: right;
}

.profile-pic {
    display: inline-block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #000000;
}

.box-only {
    display: inline-block;
    width: 100%;
    min-width: 170px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

img {
    max-width: 150px;
    max-height: 150px;
}

body {
    background-image: url("../Media/Images/Spielfeld_Konzept.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#messagesList {
    width : 100%;
    height: 300px;
}